body{
	background: #B3B3B3;
	font-size: 150%;
	margin: 4%;
}
header{
	background: #666666;
	text-align: center;
	padding: 15px;
}
header, footer{
	background: #666666;
	background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
	background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
	background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
	background: linear-gradient(#666666 0%, #00b7ea 100%);
}
h1{
	color: #FFFFFF;
}
nav{
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial, "Times New Roman", serif;
}
nav a{
    width: 22%;
    display: inline-block;
    background: #FFFFFF;
}
h2{
	color: #666666;
	background: #00B7EA;
}
.half{
	width: 45%;
	display: inline-block;
	float: left;
	margin-right: 2%;
}
.whole{
    clear: both;
}
details{
	font-style: italic;
}
summary{
	font-style: normal;
}
footer{
	clear: both;
}
img{
	width: 125px;
}
